  
  body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
  }

  .color-container {
    display: flex;
    justify-content: space-around;
  }

  /* Estilo para aumentar o tamanho dos inputs */
  input {
    height: 200px;
    width: 250px;
  }


  @media only screen and (max-width: 768px) {
    .color-container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }
